$lightergreen: #5fd8c7ff;
$lightgreen: #32cbb6ff;
$green: #0ac3aaff;
$darkgreen: #009c87ff;
$darkergreen: #007565ff;

$lighteryellow: #ffcc70ff;
$lightyellow:  #ffba3fff;
$yellow: #ffa90dff;
$darkyellow: #f9a000ff;
$darkeryellow: #bb7800ff;

$lighterorange: #ffab70ff;
$lightorange: #ff8f3fff;
$orange: #ff710dff;
$darkorange: #f96700ff;
$darkerorange: #bb4e00ff;

$lighterred: #fb6e7cff;
$lightred: #fa3e50ff;
$red: #fa0d23ff;
$darkred: #f10017ff;
$darkerred: #b50011ff;

// ajout Font via Cufont - donc pas de liens de font
@font-face {
  font-family: Brandon-grotesque;
  src: local("Brandon-grotesque-black"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-black-58a8a3e824392.otf),
  format("truetype");
}

// @font-face {
//   font-family: 
// }
