$lightergreen: #5fd8c7ff;
$lightgreen: #32cbb6ff;
$green: #0ac3aaff;
$darkgreen: #009c87ff;
$darkergreen: #007565ff;

$lighteryellow: #ffcc70ff;
$lightyellow:  #ffba3fff;
$yellow: #ffa90dff;
$darkyellow: #f9a000ff;
$darkeryellow: #bb7800ff;

$lighterorange: #ffab70ff;
$lightorange: #ff8f3fff;
$orange: #ff710dff;
$darkorange: #f96700ff;
$darkerorange: #bb4e00ff;

$lighterred: #fb6e7cff;
$lightred: #fa3e50ff;
$red: #fa0d23ff;
$darkred: #f10017ff;
$darkerred: #b50011ff;

// ajout Font sans lien de font

//BRANDON GROTESQUE

@font-face {
  font-family: "Brandon-grotesque";
  src: local("Brandon-grotesque-black"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-black-58a8a3e824392.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-bold-italic";
  src: local("Brandon-grotesque-bold-italic"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-bold-italic-58a8a48221563.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-light";
  src: local("Brandon-grotesque-light"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-light-58a8a4b38001d.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-light-italic";
  src: local("Brandon-grotesque-light-italic"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-light-italic-58a8a4ccb88be.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-medium-italic";
  src: local("Brandon-grotesque-medium-italic"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-medium-italic-58a8a3c40866a.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-regular-italic";
  src: local("Brandon-grotesque-regular-italic"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-regular-italic-58a8a456c4724.otf)
  format("truetype");
}

@font-face {
  font-family: "Brandon-grotesque-thin-italic";
  src: local("Brandon-grotesque-thin-italic"),
  url(/src/fonts/Brandon-grotesque/brandon-grotesque-thin-italic-58a8a3a8861fe.otf)
  format("truetype");
}

// STRATUM

@font-face {
  font-family: "Stratum";
  src: local("Stratum"),
  url(/src/fonts/Stratum/StratumNo1-Regular.ttf)
  format("truetype");
}
