@import 'src/styles/vars';

// ONCE LOGGED IN
.ant-layout{
  background-color: white;
  &-content {
    margin: 1em;
    min-height: 43.35vh;
  }
  &-header {
    background-color: white;
  }

  &-footer {
    margin: 0px;
    padding: 0px;
  }

  &-sider {
    background-color: $lightergreen;
  }
}

.ant-menu {
  background-color: $lightergreen;
}

// OVERRIDE AND CUSTOMIZATION OF ANT DESIGN
a {
  color : $lightorange;
  &:hover {
    color : $orange;
  }
  &:focus {
    color : $darkorange;
  }
}
.ant-btn {
  border-radius : 1em;
  margin: 0 1em;
  &-primary {
    background-color: $lightergreen;
    border: $lightergreen;
    border-bottom : 3px solid $green;
    color : white!important;
    &:focus {
      background-color : $lightgreen;
      border-color : $darkgreen!important;
      color : darken(white, 10%);
    }
    &:hover {
      background-color: $green;
      border-color : $darkgreen!important;
      color : darken(white, 20%);
    }
  }
}
.ant-card {
  margin: 1em 0;
}
.ant-input-affix-wrapper {
  .ant-input {
    &:not(:first-child){
      &:focus {
        box-shadow : 0 0 0 2px $lightergreen;
      }
      &:hover {
        border-color : $lightgreen;
      }
    }
  }
}

.ant-switch {
  background-color: $orange;
  margin: 0 1em;
  &-checked {
    background-color: $yellow;
  }
}

#app {

  // NOT LOGGED IN
  &-home {
    height : 100%;
    min-height : 100vh;
    text-align : center;
    &:after{
      background-image : url('/src/img/map.png');
      background-size : cover;
      color : transparent;
      content : '.';
      height : 100vh;
      left: 0;
      mix-blend-mode: hard-light;
      position : fixed;
      top : 0;
      width : 100%;
      z-index : 0;
    }
    .ant-layout {
      background-color : white;
      box-shadow : 0px 0px 15px 0px $lighteryellow;
      display : inline-block;
      margin : 10em auto;
      max-width : 700px;
      position : relative;
      width : 50%;
      text-align : center;
      z-index : 1;
      .logo {
        // TO DO : ajouter les media queries
        left : 0;
        height: 6em;
        max-width : 100%;
        position : absolute;
        top : -4em;
        width : 100%;
      }
      p {
        margin-top : 6em;
      }
      form {
        max-width: none;
        .ant-btn {
          margin : 1em 0;
          &:hover, &:focus, &:visited {
            border-color : orange;
            color : $orange;
          }
        }
      }
    } 
  }
}

body {
  background-color: $lightergreen;
}

main {
  padding: 1em;
}
