@import 'src/styles/vars';

#listGroups {
  align-items : flex-start;
  display : flex;
  justify-content : center;
  padding: 1em;
  text-align: center;

  .ant-card {
    display: inline-block;
    margin: 1em;
    width: 25%;
  }

}
