<h3>L'utilisateur {{ username }} vous a invité à rejoindre AperoClock ! </h3>

cliquez sur le lien pour faire partie de son groupe et visualiser les évènements à venir :! 

--------------LIEN AVEC GROUPTOKEN QUI POINTE VERS SIGNUP POUR QUE LA PERSONNE S ENREGISTRE {{ groupToken }}-------------