@import 'src/styles/vars';

.ant-layout-sider, .ant-menu {
  background-color: $lightergreen;
  font-family: stratum;
}

nav li a {
  background-color: white;
  border-radius: 1em;
  padding-left: 0.75em;
  font-weight: bold;
}
